<head>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<title>Random Quotes Machine</title>
</head>
<body class="body">
	<div class="container text-center centered">
		<div class="quote-div color-change">
			<h1 id="quote">No por mucho madrugar amanece mas temprano</h1>
			<h2>- <span id="author">Somebody</span> -</h2>
		</div>
		<div class="social-buttons">
			<div class="color-change img-div tweet">
				<img src="https://cdn2.iconfinder.com/data/icons/social-networks-7/128/Socialmedia_icons_Twitter-07-128.png">
			</div>
			<div class="color-change img-div quote" id="quote-btn">
				<img src="http://image005.flaticon.com/1/png/128/56/56826.png">
			</div>
			<div class="color-change img-div clock"><img src="http://www.myiconfinder.com/uploads/iconsets/128-128-3c8e734636e2e41953fc2b81c8c9eedf.png"></div>
		</div>
		<div class="container">
			<h2>Click on the quote button or tweet it! <br> Or make it automatic <img class="auto" id="auto" src="http://findicons.com/files/icons/1743/ecqlipse/128/automatic_updates.png">
				<img src="http://icons.iconarchive.com/icons/pixelkit/gentle-edges/128/Hand-Stop-icon.png" id="auto-stop" class="auto hidden">
			</h2>
		</div>
	</div>
</body>