<head>
	<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<title>Random Quotes Machine</title>
</head>
<body class="body">
	<div class="container text-center centered">
		<div class="quote-div color-change">
			<h1 class="quote">No por mucho madrugar amanece mas temprano <br>- <span id='author'>  Somebody  </span> -</h1>
		</div>
		<div class="social-buttons">
			<div class="color-change img-div tweet">
				<img src="https://cdn2.iconfinder.com/data/icons/social-networks-7/128/Socialmedia_icons_Twitter-07-128.png">
			</div>
			<div class="color-change img-div quote" id="quote-btn">
				<img src="http://image005.flaticon.com/1/png/128/56/56826.png">
			</div>
			<div class="color-change img-div"><img src="http://www.myiconfinder.com/uploads/iconsets/128-128-3c8e734636e2e41953fc2b81c8c9eedf.png"></div>
		</div>
		<div class="container">
			<h2>Click on the quote button or tweet it! <br> Or make it automatic <img class="auto" src="http://findicons.com/files/icons/1743/ecqlipse/128/automatic_updates.png"></h2>
		</div>
	</div>
</body>